---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ten Studios">
    <main>
        <div class="hero">
            <img src="../../public/TS_Alternative Logo A_Black.svg" />
        </div>
    </main>
</Layout>

<script>
    window.onbeforeunload = () => window.scrollTo(0, 0);
</script>

<style>
    main {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        height: 80vh;
        max-height: 100vh;
        width: 100vw;
        color: black;
        line-height: 1.6;
        justify-content: center;
        align-items: center;
    }
    .hero {
        flex: 1;
        display: flex;
        height: 100%;
        width: 60%;
        justify-content: center;
    }
    .hero img {
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;
        animation: fadeInAnimation ease 3s;
        animation-fill-mode: forwards;
    }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>
