---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ten Studios">
    <main>
        <div class="hero">
            <picture>
                <source
                    srcset="/src/images/TS_Alternative_Logo_A_Black.svg"
                    media="(min-width: 600px)"
                />
                <img src="/src/images/TS_Primary_Logo_A_Black.svg" />
            </picture>
        </div>
    </main>
</Layout>

<script>
    window.onbeforeunload = () => window.scrollTo(0, 0);
</script>

<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero {
        flex: 1 1 auto;
        width: 100%;
        display: flex;
        height: auto;
        padding: 10rem 0;
        justify-content: center;
        align-items: center;
    }
    .hero picture {
        width: 60%;
    }
    .hero picture img {
        width: 100%;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;
        animation: fadeInAnimation ease 3s;
        animation-fill-mode: forwards;
    }
    .button-group {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .button-group button {
        padding: 1rem 2rem;
        flex: 0 0 700px;
        background-color: #000;
        border: 0;
        font-family: "Konstant Grotesk";
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.5rem;
        text-align: center;
    }
    @media (max-width: 600px) {
        .hero {
            padding: 5rem;
        }
    }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>
